body {
  min-width: 1540px;
  font-size: 18px;
  line-height: 1.2;
  color: #3b3b3b;
  /* letter-spacing: 2.25px; */
  letter-spacing: 0.125em;
  font-weight: 600;
  font-family: Raleway, Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 800;
  /* letter-spacing: 6px; */

  /* letter-spacing: 0.125em; повторяется около 40 раз.
  Можно его вообще не указывать, оно будет наследоваться,
  но его конечное значение будет вычисляться не от указанного здесь font-size,
  а от font-size родителя (body), что кажется неправильным.
  Таким образом я здесь получу вычисленное значение не 6px, а 2.25px.
  Ну одно хорошо, указывая значение в em - можно не вычислять каждый раз в px.
  А если есть некое средство автоматизации типа LESS, то это значение
  можно задать переменной и больше не париться. */
  letter-spacing: 0.125em;
}

h2 {
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  font-size: 30px;
  font-weight: 800;
  /* letter-spacing: 3.75px; */
  letter-spacing: 0.125em;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
  text-transform: none;
}

h2 + p {
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1536px;
  box-sizing: border-box;
}

.about-us .container,
.statistics .container,
.products .container,
.team .container,
footer .container {
  padding: 0 96px;
}

header .logo {
  font-size: 30px;
  font-weight: 800;
  /* letter-spacing: 3.75px; */
  letter-spacing: 0.125em;
}

header .header-main {
  padding-top: 110px;
  min-height: 970px;
  text-align: right;
  color: #ededed;
  font-size: 0;
  letter-spacing: 0;
  background:
    url("../img/ico_mouse.png") center 927px no-repeat,
    url("../img/bg-image-full.jpg") center -33px no-repeat black;
  background-clip: padding-box;
  /* На макете H1 сдвинут вправо - косяк дизайнера.
  В случае CSS сдвига H1 вправо (margin или relative + right pos)
  справа появляется вертикальная белая полоска выходящая за пределы header-main.
  Варианты решения проблемы:
  1. Увеличить min-width у body
  2. overflow-x: hidden
    заголовок выходит за центровщик, но обрезается у header-main на min-width.
    у заголовка крупный шрифт, поэтому обрезка текста не видна */
  overflow-x: hidden;
}

header .header-main .logo {
  display: inline-block;
  vertical-align: middle;
  /* width: 90%; */
  width: 1420px;
  text-align: left;
}

header .header-main a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /* width: 10%; */
  width: 116px;
  box-sizing: border-box;
  padding-right: 22px;
  font-size: 24px;
  color: inherit;
  font-weight: 600;
  /* letter-spacing: 3px; */
  letter-spacing: 0.125em;
  text-decoration: none;
  background: url(../img/ico_burger_menu.png) top 4px right 0 no-repeat;
}

/* У меню есть гамбургер
Можно нарисовать одну полоску гамбургера и две дублирующие тени на ::after элементе
Можно нарисовать в svg
Можно нарисовать повторяющимся градиентом на ::after элементе. Но есть проблема, полоска скругленая
Можно нарисовать на ::after, content: '\f05e' (это нужно проверить)
Можно было и не делать ::after, просто всему <a> задать фон с позицией в районе паддинга, что я и сделал
header .header-main a::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 18px;
  top: 4px;
  right: 0;
  background: url(../img/ico_burger_menu.png) 0 0 no-repeat;
} */

header .header-main h1 {
  margin-right: -8px;
  margin-top: 365px;
}

header .header-main p {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  /* letter-spacing: 3px; */
  letter-spacing: 0.125em;
}

header .header-main i {
  margin-top: 0;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  /* letter-spacing: 2.25px; */
  letter-spacing: 0.125em;
}

header nav {
  box-shadow: 0px 1px 27px 0px rgba(0, 0, 0, 0.16);
}

header nav a {
  text-decoration: none;
}

header nav a:hover {
  opacity: 0.5;
}

header nav a.logo {
  display: inline-block;
  padding: 21px 10px 26px 0;
  color: #1c1c1c;
}

header nav ul {
  float: right;
  max-width: 1340px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  letter-spacing: 0;
  text-align: right;
}

header nav li {
  display: inline-block;
  max-width: 250px;
  vertical-align: top;
}

header nav li > a {
  display: block;

  padding-top: 33px;
  padding-right: 51px;
  padding-bottom: 26px;
  padding-left: 46px;

  font-size: 18px;
  /* letter-spacing: 2.25px; */
  letter-spacing: 0.125em;

  color: inherit;
}

header nav li:nth-of-type(4) > a {
  padding-right: 32px;
}

header nav li:nth-of-type(5) > a {
  padding-right: 28px;
}

header nav li:last-of-type > a {
  position: relative;
  right: -2px;
  padding-right: 0;
}

.about-us {
  padding-top: 44px;
  margin-bottom: 68px;
}

.about-us h2 {
  margin-left: 2px;
  margin-bottom: 7px;
}

.about-us img {
  display: block;
  margin: 15px auto 20px;
}

.about-us p:last-of-type {
  font-size: 14px;
  /* letter-spacing: 1.75px; */
  text-align: left;
  letter-spacing: 0.125em;
}

.stat {
  padding-top: 89px;
  padding-bottom: 98px;
  color: #ededed;
  background: url("../img/bg_bikes.jpg") center top repeat-x #4b5157;
}

.stat h2 {
  position: relative;
  left: 1px;
  margin-bottom: 4px;
  color: #ededed;
}

.stat dl {
  margin: 0 auto;
  padding: 0;
  margin-top: 57px;
  width: 1000px;
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
}

.stat dl dt {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  box-sizing: border-box;
  width: 236px;
  vertical-align: top;
  font-size: 72px;
  font-weight: 600;
  /* letter-spacing: 9px; */
  letter-spacing: 0.125em;
  text-align: center;
}

.stat dl dd {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 95px;
  width: 236px;
  margin-left: -236px;
  vertical-align: top;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.stat dl dt:not(:nth-of-type(3n+1)) {
  margin-left: 140px;
}

.products {
  padding-top: 45px;
  margin-bottom: 49px;
}

.products h2 {
  margin-left: 4px;
  margin-bottom: 8px;
}

.products p {
  margin-left: 8px;
}

.products .product-items {
  margin-top: 37px;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
}

.products .product-item {
  position: relative;
  margin-bottom: 29px;
  display: inline-block;
  width: 396px;
  text-align: center;
}

.products .product-item:not(:nth-child(3n+1)) {
  margin-left: 78px;
}

.products .product-item h3 {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  padding-top: 301px;
  font-size: 24px;
  font-weight: bold;
  /* letter-spacing: 3px; */
  letter-spacing: 0.125em;
}

.products img {
  display: block;
  position: absolute;
  top: 0;
  left: -2px;
  width: 398px;
  height: 299px;
}

.products .product-item .item-price {
  display: block;
  margin-bottom: 13px;
  font-size: 30px;
  font-weight: 600;
  /* letter-spacing: 3.75px; */
  letter-spacing: 0.125em;
}

.products .product-item a {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  text-transform: none;
  /* letter-spacing: 2.25px; */
  letter-spacing: 0.125em;
}

.team {
  padding-top: 42px;
  padding-bottom: 54px;
  background-color: #ededed;
}

.team h2 {
  margin-left: 6px;
  margin-bottom: 8px;
}

.team h2 + p {
  transform: translateX(-1px);
}

.team .team-members {
  margin-top: 56px;
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
}

.team .team-members .team-member {
  display: inline-block;
  margin: 0;
  width: 216px;
  vertical-align: top;
  text-align: center;
  color: #1e1e1e;
}

.team .team-members .team-member:not(:nth-of-type(3n+1)) {
  margin-left: 270px;
}

.team .team-member img {
  width: 216;
  height: 216;
}

.team .team-member .team-member-title {
  margin-top: 26px;
}

.team .team-member:not(:nth-of-type(3n+2)) .team-member-title {
  padding-left: 10px;
}

.team .team-member:nth-of-type(3n+1) .team-member-title span {
  padding-left: 12px;
}

.team .team-member-title b {
  display: block;
  margin-bottom: 11px;
  font-size: 30px;
  font-weight: 800;
  /* letter-spacing: 3.75px; */
  letter-spacing: 0.125em;
}

.team .team-member-title span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  /* letter-spacing: 2.25px; */
  letter-spacing: 0.125em;
}

.social {
  padding-top: 60px;
  padding-bottom: 56px;
  color: #1e1e1e;
}

.social h2 {
  margin-bottom: 10px;
  transform: translateX(1px);
}

.social h2 + p {
  /* Пробел на конце в макете */
  white-space: pre-wrap;
}

.social .social-images {
  margin-top: 53px;
  margin-bottom: 62px;
  font-size: 0;
  letter-spacing: 0;
}

.social .social-images img {
  display: inline-block;
  vertical-align: top;
}

.social b {
  display: block;
  font-size: 24px;
  font-weight: 800;
  /* letter-spacing: 3px; */
  letter-spacing: 0.125em;
  color: #3b3b3b;
  text-align: center;
  transform: translateX(-3px);
}

.social b > a {
  color: #1e1e1e;
}

footer {
  padding-top: 50px;
  padding-bottom: 84px;
  color: #ededed;
  background-color: #1e1e1e;
}

footer h2 {
  margin-bottom: 134px;
  transform: translateX(2px);
  color: inherit;
}

footer h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 900;
  /* letter-spacing: 2.25px; */
  letter-spacing: 0.125em;
  color: inherit;
}

footer .footer-links {
  float: left;
  width: 296px;
}

footer .footer-links:first-of-type {
  position: relative;
  left: -1px;
  top: -2px;
}

footer .footer-links:nth-of-type(2) {
  float: left;
  width: 304px;
  margin-left: 72px;
}

footer .footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer-links a {
  display: block;
  line-height: 30px;
  font-size: 18px;
  /* letter-spacing: 2.25px; */
  letter-spacing: 0.125em;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

footer .footer-links a:hover {
  opacity: 0.5;
}

footer .footer-social {
  float: left;
  width: 280px;
  margin-left: 96px;
}

footer .footer-social h3 {
  margin-bottom: 27px;
}

footer .footer-social .footer-social-links {
  font-size: 0;
  letter-spacing: 0;
}

footer .footer-social-links a {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

footer .footer-social-links a:hover {
  opacity: 0.4;
}

footer .footer-social-links .fb {
  width: 29px;
  background: url("../img/ico_facebook.png") no-repeat;
}

footer .footer-social-links .in {
  margin-left: 11px;
  background: url("../img/ico_linked-in.png") no-repeat;
}

footer .footer-social-links .gr {
  margin-left: 7px;
  height: 30px;
  background: url("../img/ico_instagram.png") no-repeat;
}

footer .footer-social-links .tw {
  margin-left: 10px;
  height: 26px;
  background: url("../img/ico_twitter.png") no-repeat;
}

footer .footer-map {
  float: right;
  width: 296px;
  text-align: right;
}

